@import "../base/variables";

#intro {
    background: url("/img/background_index.jpg") center;
    background-size: cover; 
    height: 400px;
    display: flex;
    align-items: center;

    @include breakpoint(sm) {
        background: url("/img/background_index.jpg") center;
        background-size: auto;   
    }
}

.introHijo{
    flex-direction: column;
    text-align: center;
}

.more {
    padding-top: 20px;
    
    h2 {
      padding-bottom: 20px;
      text-align: center;
    }

    .more__row {
      display: flex;
      text-align: center;

      @include breakpoint(md) {
        flex-direction: column;
      }

      &-content {
        width: 100%;

        h3{
            padding-top: 20px;
        }
    }
  } 
}